body{


    background-color: #f2bae0;
    color: rgb(24, 23, 23);
    padding: 15px;
    font-weight: bold;
}
    

    .header{
        background-color: aliceblue;
        margin-top: 100px;
    }
    #logout{
        float:right;
    }
    .addroom{
        background-color: aliceblue;  
    }